# Importing Libraries

In [18]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing Data Sets

In [19]:
path = r'C:\Users\Aricia\MM-2020 Instacart Basket Analysis'

In [20]:
# Import Orders Product Combined
df_ords_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [21]:
# Check the shape for df_ords_combined
df_ords_combined.shape

(32434489, 10)

In [22]:
# Import Orders Product Data
df_prods_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [23]:
# Check the shape for df_prods_checked
df_prods_checked.shape

(49693, 6)

In [24]:
# Check the output df ords combined 
df_ords_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,-1.0,196,1,0,both
1,2539329,1,1,2,8,-1.0,14084,2,0,both
2,2539329,1,1,2,8,-1.0,12427,3,0,both
3,2539329,1,1,2,8,-1.0,26088,4,0,both
4,2539329,1,1,2,8,-1.0,26405,5,0,both

In [25]:
# Check the output df prods checked
df_prods_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [26]:
# Dropping the unnamed columns created due to Index when exporting
columns_to_drop = ['Unnamed: 0']

In [27]:
# Delete the columns and update the DataFrame using 'inplace=True'
df_prods_checked.drop(columns=columns_to_drop, inplace=True)

In [28]:
# Check the output df ords
df_prods_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [29]:
# Memory error, reducing RAM
# Change types for ords data set
df_ords_combined['order_id']=df_ords_combined['order_id'].astype('int32')
df_ords_combined['user_id'] = df_ords_combined['user_id'].astype('int32')
df_ords_combined['order_number']=df_ords_combined['order_number'].astype('int8')
df_ords_combined['orders_day_of_week']=df_ords_combined['orders_day_of_week'].astype('int8')
df_ords_combined['order_hour_of_day']=df_ords_combined['order_hour_of_day'].astype('int8')
df_ords_combined['days_since_prior_order']=df_ords_combined['days_since_prior_order'].astype('float16')

# Merging dataframes

In [31]:
# Create a new dataframe combining both: df_ords_prods_merged
df_ords_prods_merged = df_prods_checked.merge(df_ords_combined, on = 'product_id', indicator = 'Merge_flag')

In [32]:
# Check for full match
df_ords_prods_merged.head()

C:\Users\Aricia\anaconda3\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,Merge_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,-1.0,10,0,both,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,both

In [33]:
# Check for value counts
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

# Exporting Data

In [34]:
# Export data to pkl
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))