# Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing Data Sets

In [2]:
path = r'C:\Users\Aricia\MM-2020 Instacart Basket Analysis'

In [3]:
# Import Orders Checked Data
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [4]:
# Import Orders Product Data
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [5]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# Check the output df ords
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,-1.0
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [7]:
# Dropping the unnamed columns created due to Index when exporting
columns_to_drop = ['Unnamed: 0.1', 'Unnamed: 0']

In [8]:
# Delete the columns and update the DataFrame using 'inplace=True'
df_ords.drop(columns=columns_to_drop, inplace=True)

In [9]:
# Check the output df ords
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,-1.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [10]:
# Check the shape for df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [11]:
# Check the shape for df_ords
df_ords.shape

(3421083, 6)

# Merging dataframes

In [12]:
# Create a new dataframe combining both: df_merged_large
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
# Check new dataframe
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,-1.0,196,1,0,both
1,2539329,1,1,2,8,-1.0,14084,2,0,both
2,2539329,1,1,2,8,-1.0,12427,3,0,both
3,2539329,1,1,2,8,-1.0,26088,4,0,both
4,2539329,1,1,2,8,-1.0,26405,5,0,both

In [14]:
# Checking value counts for full or parcial match - not accurate as it merger inner
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

Best practice: always check your data using a outer join as well to make sure you have a full data.
df_merged_outer = df_ords.merge(df_ords_prior, on='order_id', how='outer', indicator=True)

# Exporting data

In [15]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))